<div class="card-container">
  <form [formGroup]="FrappeInstanceForm">
    <mat-card>
      <mat-card-title> Add Frappe Instance </mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Frappe Client Uuid"
            formControlName="frappeClientUuid"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Client Uuid"
            formControlName="clientUuid"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Frappe Name"
            formControlName="frappeName"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Enter Bloomstack Bot Password"
            formControlName="bloomstackBotPassword"
            [type]="hideBloomstackBotPassword ? 'password' : 'text'"
          />
          <mat-icon
            matSuffix
            (click)="hideBloomstackBotPassword = !hideBloomstackBotPassword"
          >
            {{ hideBloomstackBotPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!FrappeInstanceForm.valid"
          (click)="addFrappeInstance()"
        >
          Add
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
