<div class="card-container">
  <form [formGroup]="userForm">
    <mat-card>
      <mat-card-title>{{ name || "New User" }}</mat-card-title>
      <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required readonly>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" [readonly]="uuid" readonly>
          </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
</div>