<div class="card-container">
  <form [formGroup]="clientForm">
    <mat-card>
      <mat-card-title>{{ name || 'New Client' }}</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Client Name"
            formControlName="clientName"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="action-button">
        <button
          (click)="updateClient()"
          mat-flat-button
          color="primary"
          [disabled]="!clientForm.valid"
          *ngIf="name"
        >
          Update
        </button>
        <a routerLink="/add-frappe-instance"
          ><button
            mat-flat-button
            color="primary"
            [disabled]="!clientForm.valid"
            *ngIf="name"
          >
            Add frappe-Instance
          </button></a
        >
        <button
          (click)="createClient()"
          mat-flat-button
          color="primary"
          [disabled]="!clientForm.valid"
          *ngIf="!name"
        >
          Create
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="frappeInstanceData ">
      <mat-card-title>Frappe Instances</mat-card-title>
      <mat-card-content>
        <ul *ngFor="let frappeInstance of frappeInstanceData">
          <li>FrappeClientUuid : {{ frappeInstance.frappeClientUuid }}</li>
          <li>Name : {{ frappeInstance.name }}</li>
          <mat-card-actions class="action-button">
            <button mat-flat-button color="primary" (click)="addFrappeKey(frappeInstance.clientUuid,frappeInstance.frappeClientUuid)">Add Frappe Key</button>
            <button mat-flat-button color="primary" (click)="updateFrappeKey(frappeInstance.clientUuid,frappeInstance.frappeClientUuid)">Update Frappe Key</button>
          </mat-card-actions>
        </ul>
      </mat-card-content>
    </mat-card>
  </form>
</div>
