<div class="card-container">
  <form  [formGroup]="settingsForm">
    <mat-card>
      <mat-card-title>Bloomstack Client Registry Settings</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="appURL" placeholder="Server Url" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="clientId" placeholder="Client ID" readonly>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput type="password" placeholder="Client Secret"
            formControlName="clientSecret" [type]="hideClientSecret ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
            {{hideClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary" (click)="updateSettings()" [disabled]="!settingsForm.valid">Update</button>
        <button type="button" mat-button color="primary" (click)="setupPermission();" [disabled]="frappeSystemManagerUuid && clientTokenUuid" >Setup Permission</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>